@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>考勤管理</h5>
			</div>
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<div class="row">
							显示时间：<h1 id="showTime" style="color:cadetblue"></h1>
						</div>
						<div class="hidden-xs" id="checkTableToolbar" role="group">
							<#button name="审批" icon="fa-plus" clickFun="check_time.openCheck()" />
							<!--<#button name="拒批" icon="fa-plus" clickFun="check_time.openbCheck()" />-->
						</div>
						<#table id="checkTable"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/js/common/time.js"></script>
<script src="${ctxPath}/static/modular/checkTime/check_time_boss.js"></script>
@}
